<div class="search-demo__body">
    <% if @search_results&.any? %>
        <div class="search-results">

            <div class="results">
            <div class="results__header">
                <div class="results__result-count">
                <% if @total_pages > 1 %>
                    Page <strong><%= @current_page %></strong> of <strong><%= @total_pages %></strong>
                <% end %>
                </div>
                <div class="results__powered-by powered-by">
                <%= image_tag('powered-by@2x.png', alt: 'Powered by Swiftype') %>
                </div>
            </div>

            <div class="results__body">
                <ul>
                <% @search_results.each do |rubygem| %>
                    <li class="result">
                    <div class="result__header">
                        <div class="result__title"><%= link_to "#{rubygem.name}", ruby_gem_path(rubygem) %></div>

                    </div>

                    <div class="result__body">
                        <p class="result__description"><%= rubygem.info %></p>
                        <div class="result__details">
                        <p><strong>Downloads: </strong><%= number_with_delimiter(rubygem.downloads, :delimiter => ',') %></p>
                        <p><strong>Authors: </strong><%= rubygem.authors %></p>
                        </div>
                    </div>
                    </li>
                <% end %>
                </ul>
            </div>

            <div class="results__footer">
                <%= render "pagination", total_pages: @total_pages, current_page: @current_page, query: params[:q] %>
            </div>
        </div>
    </div>
    <% end %>
</div>