
<div class="ruby-demo">
  <div class="site-background"></div>
  <div class="search-demo <%= 'active-search' if @search_results&.any? %> -live-filtering">
    <div class="search-demo__content">

      <%# Header %>
      <div class="search-demo__header">
        <div class="search-demo__headings">
          <div class="search-demo__icon-wrap">
            <%= image_tag('icons/icon-gem.svg', class: 'search-demo__icon', alt: 'Gem Search Icon') %>
          </div>
          <h1 class="search-demo__title">Gem Hunt</h1>
          <h3 class="search-demo__sub-heading powered-by">
            <%= image_tag('powered-by@2x.png', alt: 'Powered by Swiftype') %>
          </h3>
        </div>

          <%= form_tag({}, {method: :get, class: 'search-demo__input-wrapper'}) do %>
            <%= text_field_tag(:q, params[:q], class: "search-demo__text-input", placeholder: "Search for Ruby gems...") %>
            <div class="form-check">
              <%= check_box_tag('popular', 1, params[:popular], class: 'form-check-input') %>
              <label class="form-check-label" for="popular">Only Popular</label>
            </div>
            <%= submit_tag("Search", class: "button search-demo__submit") %>
          <% end %>
      </div>


      <%# Results %>
      <%= render :partial => "results.html" %>
    </div>
  </div>
</div>
